<html>
<head>
    <meta charset="utf-8">

    <meta property="og:type"               content="music.song" />
    <meta property="og:title"              content="<%= songs[0].album %>(10년간 가장 사랑받은 앨범)" />
    <meta property="og:image"              content="http://static01.nyt.com/images/2015/02/19/arts/international/19iht-btnumbers19A/19iht-btnumbers19A-facebookJumbo-v2.jpg" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,400italic,700,800' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:300,200,100' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="../lib/css/clean-zone-style.css"/>
    <link rel="stylesheet" href="../lib/css/custom-detail.css"/>
    <title><%= songs[0].album %>(10년간 가장 사랑받은 앨범)</title>
</head>
<body style="opacity: 1; margin-left: 0px;">
<div id="fb-root"></div>
<div id="cl-wrapper">
    <div class="container-fluid" id="pcont">
        <div class="cl-mcont">
            <div class="row">
                <div class="center-block detail-div">
                    <div class="block-flat profile-info" style="margin-bottom: 10px;">
                        <div class="row title-div">
                            <h1>The Best Album of the Decade</h1>
                            <h3>10년간 가장 사랑받은 앨범</h3>
                            <div class="text-center">
                                <ul class="list-inline">
                                    <li><a href="/song"><h3>#음악</h3></a></li>
                                    <li class="title-menu"><a href="/album"><h3>#앨범</h3></a></li>
                                    <li class="title-menu"><a href="/singer"><h3>#가수</h3></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="center-block detail-div">
                    <div class="block-flat profile-info" style="margin-bottom: 10px;">
                        <div class="row">
                            <div class="col-sm-2">
                                <div class="text-center">
                                    <img src='<%= songs[0].albumImage %>' class="profile-avatar">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="personal">
                                    <h1 class="name"><%= songs[0].album %></h1>
                                    <p><%= songs[0].singer %></p>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <h1 class="big-text text-center"><%= sum %></h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row dash-cols">
                <div class="center-block detail-div">
                    <div class="pull-right share-div">
                        <button type="button" class="btn btn-default btn-facebook bg">
                            <a href="javascript:shareFacebook()">
                                <i class="fa fa-facebook"></i>
                            </a>
                        </button>
                        <button type="button" class="btn btn-default btn-twitter bg">
                            <a href="javascript:shareTwitter()">
                                <i class="fa fa-twitter"></i>
                            </a>
                        </button>
                        <div style="display: inline-block; margin-left: 5px;">
                            <a href="javascript:shareStory()">
                                <img src="https://dev.kakao.com/sdk/js/resources/story/icon_small.png" style="width: 36px; height: 30px; margin-bottom: 5px;">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="center-block detail-div">
                    <div class="block-flat">
                        <div class="header">
                            <h3>Song Score Date</h3>
                        </div>
                        <div class="content">
                            <div id="score_chart" style="height: 300px; padding: 0; position: relative;"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="center-block detail-div">
                    <div id="disqus_thread"></div>
                    <script type="text/javascript">
                        /* * * CONFIGURATION VARIABLES * * */
                        var disqus_shortname = 'musichistory';

                        /* * * DON'T EDIT BELOW THIS LINE * * */
                        (function() {
                            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                        })();
                    </script>
                    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="https://fb.me/react-0.13.3.min.js"></script>
<script src="https://fb.me/JSXTransformer-0.13.3.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/numeral.js/1.4.5/numeral.min.js"></script>
<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="https://developers.kakao.com/sdk/js/kakao.story.min.js"></script>
<script src="../lib/js/sns.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
    });


    var graphApiUrl = "//" + location.host + "/api/graph?albumId=" + '<%= songs[0].albumId %>';
    $.getJSON(graphApiUrl, function(data) {
        drawChart(data);
    });


    var drawChart = function(data) {
        $('#score_chart').highcharts({
            title: {
                text: "<%= songs[0].album %>",
                x: -20 //center
            },
            xAxis: {
                categories: data.keys
            },
            yAxis: {
                title: {
                    text: 'Melon Rank'
                },
                max: 100,
                min: 1,
                tickInterval: 20,
                reversed: true,
                reversedStacks: false,
                plotLines: [{
                    value: 0,
                    width: 1,
                    color: '#808080'
                }]
            },
            legend: {
                layout: 'vertical',
                align: 'right',
                verticalAlign: 'middle',
                borderWidth: 0
            },
            tooltip: {
                valueSuffix: '위'
            },
            series: data.values
        });
    };
</script>
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-39699634-5', 'auto');
    ga('send', 'pageview');

</script>

</body>
</html>